{% extends "base.html" %}
{% block title %}My Todo List - Register{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="styles/login.css") }}">
{% endblock %}
{% block content %}
<h1>My Todo List - Register</h1>
<form action="#", method="post">
    <div class="mb-3">
      <label class="form-label">Username:</label>
      <input class="inp" type="text" class="form-control" name="username">
      <br>
      <label class="form-label">Password:</label>
      <input class="inp" type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<small>Already have an account? Login <a href="{{ url_for("login") }}">here.</a></small>
{% endblock %}