{% extends "base.html" %}

{% block title %}My Todo List - Tasks{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="styles/tasks.css") }}">
{% endblock %}

{% block content %}

{% if tasks %}
<ol>
    {% for task in tasks %}
    <li>
        <div>
            <p>{{ task.content }}</p>
            <form action="{{ url_for("delete_task", task_id=task.id) }}" method="post">
                <button type="submit" class="btn btn-primary">Delete Task</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ol>
{% endif %}

{% endblock %}