body
{
    height: 100%;
    font-family: 'Mynerve', cursive;
    margin: auto;

    .container-fluid
    {
        
        background-color: turquoise;
        margin-top: -10px;
        margin-bottom: -10px;
        height: 60px;

        .nav-link:hover
        {
            color: black;
            font: bold;
        }
    }

    #navbarNav
    {
        margin-left: 27%;
    }

    .flashes
    {
        list-style: none;
        font-size: xx-large;
        margin-right: 4%;
        margin-top: 1%;
    }
}