body
{
    font-family: 'Mynerve', cursive;

    form
    {
        margin-top: 5%;

        label
        {
            font-size: 20px;
        }

        #yes
        {
            background-color: turquoise;
            border-color: turquoise;
            border-width: 4px;
        }
        #yes:hover
        {
            background-color: white;
            border-color: turquoise;
            color: turquoise;
            transition: 0.3s;
        }

        #no
        {
            background-color: red;
            border-color: red;
            border-width: 4px;
        }
        #no:hover
        {
            background-color: white;
            border-color: red;
            color: red;
            transition: 0.3s;
        }
    }
}