body
{
    font-family: 'Mynerve', cursive;
    h1
    {
        margin-top: 5%;
        font-size: 70px;
        color: turquoise;
    }

    form
    {
        margin-top: 5%;

        label
        {
            font-size: 20px;
        }

        .inp
        {
            margin: 1%;
            width: 50%;
            border: 2px solid turquoise;
            padding: 10px;
        }

        .form-control
        {
            text-align: center;
        }

        .btn
        {
            background-color: turquoise;
            border-color: turquoise;
            border-width: 4px;
        }
        .btn:hover
        {
            background-color: white;
            border-color: turquoise;
            color: turquoise;
            transition: 0.3s;
        }
    }
}